<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="kr.dreamfox.kemonoland"
          android:versionCode="1"
          android:versionName="1.0-TEST">

    <uses-sdk
            android:minSdkVersion="8"
            android:targetSdkVersion="21"/>

    <application
            android:allowBackup="true"
            android:icon="@drawable/logo"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
        <activity android:name=".Intro"
            android:screenOrientation="landscape"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity"
            android:screenOrientation="landscape"
            >
        </activity>
        <activity android:name=".LoginActivity"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            >
        </activity>
        
        <activity android:name=".GameSelector"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            >
        </activity>
        
        <activity android:name=".Registration"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            >
        </activity>
        
              
        <provider
            android:authorities="kr.dreamfox.kemonoland.Contentprovider"
            android:name="kr.dreamfox.kemonoland.Contentprovider"
            android:exported="true">
        </provider>
            
    </application>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.INTERNET" />

</manifest>